@model Dictionary<string,string>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Dashboard";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/stylesheet.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/wwwroot/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/wwwroot/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="StyleSheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="" style="display:flex; margin-left:1172px;">
        <div class="form-check">
            <a class="link" for="flexRadioDefault1" asp-controller="home" asp-action="ChangeLanguage" asp-route-lang="en">
                <input class="" onclick='location.href="/Home/ChangeLanguage?lang=en";' type="radio" name="flexRadioDefault" id="flexRadioDefault1" @(Thread.CurrentThread.CurrentUICulture.ToString() == "en" ? "checked" : "")><label>English</label>
            </a>
        </div>
        <div class="form-check" style="margin-left:-46px;">
            <a class="link" for="flexRadioDefault2" asp-controller="home" asp-action="ChangeLanguage" asp-route-lang="gj">
                <input class="" onclick='location.href="/Home/ChangeLanguage?lang=gj";' type="radio" name="flexRadioDefault" id="flexRadioDefault2" @(Thread.CurrentThread.CurrentUICulture.ToString() == "gj" ? "checked" : "")><label>Gujarati</label>
            </a>
        </div>
        <div class="">
        </div>
    </div>
    <div class="container-fluid" style="margin-top: -30px;">
        <div class="row flex-nowrap">
            <div class="d-flex flex-column  flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;height:600px;">
                <a href="https://localhost:7037/home/dashboard" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    
                    <span class="fs-4">CHALAN Reminder</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="https://localhost:7037/home/GetDocumentDtl" class="nav-link active" aria-current="page">
                            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                            <i class="fa-solid fa-user-plus fa-xl" style="color: #ffffff;margin-right: 0.7rem;"></i></i>Follow
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://localhost:7037/home/GetQuotationlDtl" class="nav-link link-body-emphasis">
                            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                            <i class="fa-solid fa-quote-right fa-xl" style="color: #000000;margin-right: 0.7rem;"></i>@Model["Quotation"]
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://localhost:7037/home/AddUser" class="nav-link link-body-emphasis">
                            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                            <i class="fa-solid fa-user fa-xl" style="color: #050505;margin-right: 0.7rem;"></i>Add User
                        </a>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>

    
</body>
</html>